.app {
  background-color: #fff;
  height: 100%;
  width: 100%;
  color: black;
  height: 100%;
  overflow: hidden;
  margin: 0px;
}

/* Index page Begins here */
.homebody {
  height: 100%;
  width: 100%;
}
.indexheading {
  text-align: center;
  padding-bottom: 8rem;
  padding-top: 3rem;
  font-family: "Kite One", sans-serif;
}
.indextopic {
  font-size: 2rem;
}
.yellowtxt {
  color: #f48b0c;
}
.bignum {
  font-size: 4rem;
  vertical-align: -1rem;
  font-family: "Satisfy", cursive;
}
.slang {
  padding-bottom: 7rem;
}
.indexbody {
  text-align: center;
}
.indexbtn {
  width: 10rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 14px;
}
.indexphnum {
  padding-top: 3.2rem;
}
/* And they end here */

/* home page begins here */
/* Home Page Nav Starts*/
.homenav {
  background-color: #f48b0c;
  height: 2.5rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  padding-top: 0.5rem;
  font-weight: bolder;
  color: #1c232d;
  font-family: "Licorice", cursive;
  font-weight: bolder;
}
/* Home page nav ends*/
.homebottom {
  text-align: center;
}
.fullhome {
  width: 100%;
  height: 100%;
}
.homebtxt {
  color: #46474b;
  font-weight: normal;
  text-align: center;
  font-size: 1rem;
  font-family: "Kite One", sans-serif;
  padding-bottom: 1rem;
}
.homebtmlogo {
  align-items: center;
  width: 75%;
  height: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 14px;
}
.restmenu {
  color: #1c232d;
  font-size: 2rem;
  font-family: "Lobster", cursive;
  line-height: 0.25rem;
}
.homeimgholder {
  padding-bottom: 5rem;
}

.hfoot {
  background-color: #46474b;
  color: #eee9e6;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  margin-bottom: -1rem;
  text-align: center;
  vertical-align: bottom;
}
/* Home Page ends here*/
/* Menus */
.foodtitle {
  font-weight: bold;
  text-align: left;
  width: 75%;
  margin: auto;
  padding-top: 1rem;
  font-family: "Kite One", sans-serif;
  font-size: 1rem;
}
.fooddescription {
  width: 75%;
  margin: auto;
  padding-top: 1rem;
  font-family: "Kite One", sans-serif;
  font-size: 0.75rem;
}
.price {
  width: 75%;
  margin: auto;
  text-align: right;
  font-weight: bold;
  padding-top: 1rem;
}
.fooditem {
  padding-bottom: 2rem;
}
.menbtmtxt {
  padding-bottom: 1.5rem;
  font-family: "Kite One", sans-serif;
}
.menucheck {
  width: 9rem;
  height: 2rem;
  font-size: 1.5rem;
  border-radius: 14px;
}
.menubottom {
  padding-bottom: 3rem;
}
/* Menus End */

/* Checkout Page Begins Here*/
.inputcheckbx {
}
.checkitem {
}
.checkoutbody {
}
.checkbxbody {
  padding-left: 2rem;
  padding-top: 1rem;
}
.checkoutbtmcontainer {
  padding-top: 3rem;
  width: 90%;
  margin: auto;
}
.checkoutbtm {
  width: 50%;
  float: left;
  font-size: 1rem;
}
.checkoutprice {
  width: 50%;
  float: right;
  font-size: 1rem;
  text-align: center;
}
.checkoutbtn {
  text-align: center;
  padding-top: 19rem;
}
.checkouttopbtn {
  width: auto;
  height: 2rem;
  border-radius: 10px;
  font-weight: 700;
}
.kfcbtn {
  background-color: red;
}
.dominobtn {
  background-color: gray;
}
.pizzahutbtn {
  background-color: orange;
}
.menus {
  padding-top: 1rem;
  text-align: center;
  letter-spacing: 1rem;
}
/* Checkout Page Ends Here */
